header {
    width:100%;
    text-align:center;
}
h1 {
    text-align: center;
}
#listeEtu {
    top:100px;
    bottom:0;
    width:150px;
    float: left;
}

#etu_data{
    height:200px;
}
li {
  margin-bottom: 50px;
}

#action{
    float: right;
}