body {
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
}
header {
    width:100%;
    text-align:center;
}
h1 {
    text-align: center;
}
#listeEtu {
    display: block;
    top:100px;
    height: 600px   ;
    width:150px;
    float: left;
    overflow: auto;
}
.etudiantInListe{
    cursor:pointer;
}
#etu_data{
    height:200px;
}
li {
  margin-bottom: 50px;
}

#action{
    float: right;
}